/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* end of fonts */

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: transparent;
    color: white;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/pexels-errin-casano-2356045.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
}

.title{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 5px;
    position: relative;
}

.navbar-links li{
    list-style: none;
    font-size: 20px;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.navbar-links li:hover{
    background-color: #555;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;

}

/* end of navbar */

/* about page */

.nav-text{
    text-align: center;
    margin-left: 575px;
    margin-top: 100px;
    position: absolute;
    font-size: 40px;
}

.our-story{
    text-align: center;
    width: 700px;
    margin: 50px 380px;
}

.Div-1{
    float: left;
    height: 200px;    
    width: 250px;
    justify-content: center;
    margin-right: 10px;
}

.Div-2{
    float: right;
    height: 200px;    
    width: 250px;
    justify-content: center;
    margin-right: 10px;
}







/* end of about page */

/* media */

@media (max-width: 800px) {

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
   
    .content p{
        font-size: 30px;
        margin-top: 80px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .navbar-links ul{
        margin: 0;
        padding: 0;
        display: flex;
        margin-right: 5px;
        position: relative;
        margin-bottom: 155px;
    }
}

/* end of media */

